<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="phonegap-plugin-app47"
    version="1.0.0">

    <name>App47</name>
    <description>Phonegap plugin implementing App47's Mobile Application Management (MAM) 
    Solution offers a secure customized enterprise app store with analytics.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/app47pg.js" name="App47">
        <clobbers target="window.plugins.app47" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <preference name="PROJECT_NAME" />
        
        <config-file target="config.xml" parent="/*">
            <feature name="App47">
                <param name="ios-package" value="App47PGPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
         
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
			<dict>
		        <key>NSAllowsArbitraryLoads</key>
		        <true/>
		    </dict>
		</config-file>       
         
        <header-file src="src/ios/App47PGPlugin.h" />
        <source-file src="src/ios/App47PGPlugin.m" />
        <header-file src="src/ios/AppDelegate+App47.h" />
        <source-file src="src/ios/AppDelegate+App47.m" />
        <header-file src="src/ios/EmbeddedAgent.h" />
        <header-file src="src/ios/SSZipArchive.h" />
        <source-file src="src/ios/SSZipArchive.m" />
        <header-file src="src/ios/lib/minizip/crypt.h" />
        <header-file src="src/ios/lib/minizip/ioapi.h" />
        <source-file src="src/ios/lib/minizip/ioapi.c" />
        <header-file src="src/ios/lib/minizip/mztools.h" />
        <source-file src="src/ios/lib/minizip/mztools.c" />
        <header-file src="src/ios/lib/minizip/unzip.h" />
        <source-file src="src/ios/lib/minizip/unzip.c" />
        <header-file src="src/ios/lib/minizip/zip.h" />
        <source-file src="src/ios/lib/minizip/zip.c" />
        <source-file src="src/ios/lib/libEmbeddedAgent.a" framework="true" />
        <source-file src="src/ios/lib/libGMStackTrace.a" framework="true" />        
        
        <!--        
        <resource-file src="resources/contact_addresses.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/contact_emails.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/contact_phones.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/contact_websites.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/directory_name_fields.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/directory_title_fields.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/events_featured.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/events_maps.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/events_sponsor.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/events_types.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/news_feeds.json" target="$PROJECT_NAME/Resources"/>
        <resource-file src="resources/resources.zip" target="$PROJECT_NAME/Resources"/>
        -->
        <resource-file src="src/ios/EmbeddedAgentSettings.plist" target="$PROJECT_NAME"/>        
        
        <framework src="libz.tbd" />
    </platform>

    <!-- android -->
    <platform name="android">
        <framework src="com.android.support:support-v13:23.1.1" />
        
        <source-file src="src/android/App47PGPlugin.java" target-dir="src/net/dynagility/personify/plugin" />        
        <source-file src="src/android/UnZip.java" target-dir="src/net/dynagility/personify/plugin" />        
        <source-file src="src/android/lib/commons-io-2.4.jar" target-dir="libs/" />
        <source-file src="src/android/lib/AndroidAgent-1.9.jar" target-dir="libs/" />
        <source-file src="www/icons" target-dir="assets/www" />
        <source-file src="www/images" target-dir="assets/www"/>
        <source-file src="www/app47.css" target-dir="assets/www/css" />
        
        <!--
        <resource-file src="resources/contact_addresses.json" target="res/raw/contact_addresses.json"/>
		<resource-file src="resources/contact_emails.json" target="res/raw/contact_emails.json"/>
		<resource-file src="resources/contact_phones.json" target="res/raw/contact_phones.json"/>
		<resource-file src="resources/contact_websites.json" target="res/raw/contact_websites.json"/>
		<resource-file src="resources/directory_name_fields.json" target="res/raw/directory_name_fields.json"/>
		<resource-file src="resources/directory_title_fields.json" target="res/raw/directory_title_fields.json"/>
		<resource-file src="resources/events_featured.json" target="res/raw/events_featured.json"/>
		<resource-file src="resources/events_maps.json" target="res/raw/events_maps.json"/>
		<resource-file src="resources/events_sponsor.json" target="res/raw/events_sponsor.json"/>
		<resource-file src="resources/events_types.json" target="res/raw/events_types.json"/>
		<resource-file src="resources/news_feeds.json" target="res/raw/news_feeds.json"/>
		<resource-file src="resources/resources.zip" target="res/raw/resources.zip"/>                
        -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="App47">
                <param name="android-package" value="net.dynagility.personify.plugin.App47PGPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <uses-permission android:name="com.sec.android.app.twdvfs.DVFS_BOOSTER_PERMISSION"/>            
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
            <service android:enabled="true" android:name="com.app47.embeddedagent.AgentConfigService"/>
            <service android:enabled="true" android:name="com.app47.embeddedagent.AgentSessionService"/>
            <service android:enabled="true" android:name="com.app47.embeddedagent.AgentEventService"/>
        </config-file>
        
        <config-file target="res/values/strings.xml" parent="/resources" mode="merge">
           <string name="EmbeddedAgent_configurationUpdateFrequency">0.0001</string>
           <string name="EmbeddedAgent_delayDataUploadInterval">0</string>
           <string name="EmbeddedAgent_sendActualDeviceIdentifier">false</string>
           <string name="app_id">5108236db3a39b000200038e</string>
        </config-file>
        
    </platform>
</plugin>
