<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="phonegap-plugin-email-composer"
    version="1.0.0">

    <name>EmailComposer</name>
    <description>Phonegap plugin to compose emails.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/EmailComposer.js" name="EmailComposer">
          <clobbers target="window.plugins.EmailComposer" />
      </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
          <feature name="EmailComposer">
						<param name="ios-package" value="EmailComposer" />
            <param name="onload" value="true" />
					</feature>
        </config-file>

        <header-file src="src/ios/EmailComposer.h" />
        <source-file src="src/ios/EmailComposer.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <framework src="com.android.support:support-v4:24.2.0" />

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="EmailComposer">
    				<param name="android-package" value="net.dynagility.personify.plugin.EmailComposer" />
            <param name="onload" value="true" />
    			</feature>
        </config-file>

		    <source-file src="src/android/EmailComposer.java" target-dir="src/net/dynagility/personify/plugin" />
    </platform>
</plugin>
