@mixin complexEvent {
  .complex-event {
    background-image: none;
    background-color: transparent;
  }

  .card-complex-event {
    background-color: transparent;
  }

  .card-complex-event .x-layout-card-item {
    background-color: transparent;
    text-align: left;
  }

  .schedule-view {
    background-color: transparent;
    background-image: none;
  }

  .main-event-complex-card {
    background-color: transparent;
    background-image: none;
  }

  .detail-event-complex {
    background-color: transparent;
    background-image: none;
  }

  .content-title-header-event {
    display: inline-block;
    font-size: 35px;
  }

  .logo-title-header-event {
    display: inline-block;
    background-image: url('../icons/twitter-logo.png');
    height: 47px;
    width: 47px;
  }

  .event-schedule-tab, .my-schedule-tab {
    width: 50%;
    height: 35px;
    color: white;
  }

  .filter-session-panel {
    background-color: transparent;
  }

  .extend-p-segment-control-btn-before {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    content: "";
    position: absolute;
    width: 35px;
    height: 100%;
  }

  .extend-p-segment-control-btn {
    width: 40px;
    height: 35px;
    margin: 0px 10px;
    padding: 0px;
  }

 .p-segment-control-btn-next {
    @extend .red-button-background;
    @extend .extend-p-segment-control-btn;
  }

  .p-segment-control-btn-next::before {
    background-image: url("../icons/btn-next.png") !important;
    @extend .extend-p-segment-control-btn-before;
  }

  .p-segment-control-btn-back {
    @extend .red-button-background;
    @extend .extend-p-segment-control-btn;
  }

  .p-segment-control-btn-back::before {
    background-image: url("../icons/btn-prev.png") !important;
    @extend .extend-p-segment-control-btn-before;
  }

  .p-segment-control-btn-next.x-button-pressing, .p-segment-control-btn-back.x-button-pressing {
    @extend .red-button-pressing-background;
  }

  .filterByTrackButton {
    background: #333333;
    color: white;
    border-radius: 0px;
    border: 1px gray solid;
    font-size: 14px;
    margin-top: $p-margin-top;
    margin-bottom: $p-margin-bottom;
    margin-right: $p-margin-same-component;
    margin-left: 0;
    height: 35px;
    padding-top: 7px;
    font-size: $p-text-large-size;
  }

  .advertisingPanel {
    background: transparent url('../images/event/complextevent/');
    background-image: url('../images/event/operaAdvertising.png'), url('../images/event/alabamaAdvertising.png'), url('../images/event/kodakAdvertising.png');
    background-position: left center, center center, right center;
    background-repeat: no-repeat;
    background-size: 33% 100%;
    background-color: white;
    height: 80px;
  }

  .twitterPanel {
    background: #35424A;
  }

  .p-header-twitter {
    background: transparent url('../icons/twitter-icon.png') no-repeat 10px center !important;
    border: none;
    height: 40px;
    margin: 0px 0px 10px;
    padding: 0px;
    border: none;
    border-radius: 0px;
  }

  .p-text-twitter {
    font-size: 16px;
    font-family: Arial Rounded MT Bold;
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
    padding-left: 40px;
    line-height: 40px;
    overflow: hidden;
  }

  .menuAndTwitterPanel {
    margin-right: $p-margin-right;
  }

  .event-complex-list {
    background-image: none;
    background-color: transparent;
  }

  .time-event-complex-item {
    background-color: transparent;
    color: white;
    height: 60px;
    width: 100px;
  }

  .unavalable-time-event-complex-item {
    background-color: #b30b13;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .view-plus-button-event-complex {
    background: url('../icons/plus.png') no-repeat center center;
    height: 31px;
    width: 31px;
    margin-bottom: 10px;
    margin-right: 5px;
  }

  .calendar-segmented-button {
    background-image: none;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 0;
  }

  .item-segment {
    background-color: #e6e3e6;
    background-image: none;
    border-radius: 0px !important;
    font-size: 12px;
    -webkit-border-radius: 0px !important;
  }

  .pressed-segment{
    color: white;
    font-weight: bold;
    background-color: #3365cc;
  }

  .item-segment .x-button-label {
    font-weight: normal;
  }

  .pressed-segment .x-button-label{
    font-weight: bold;
  }

  .complexEventHeaderLabel {
    border: solid 1.5px #c60;
    text-align: center;
    vertical-align: center;
    padding: 5px 0px 5px 0px;
    background-color: White;
    color: #c60;
    height: 35px;
    max-width: 230px;
  }

  .event-views-container {
    background-color: transparent;
  }

  .title-event-complex {
    margin-bottom: 4px;
  }

  .place-event-complex {
    font-size: 10pt;
  }

  .event-views-container-card {
    backgroud-color: transparent;
  }

  .event-views-container {
      background-color: transparent;
  }

  .event-views-container-card {
      margin-left: 10px;
      margin-right: 10px;
  }

  .evenMenuListContainer {
    background-color: transparent;
    color: white;
    margin-top: 10px;
  }

  .evenMenuItem {
    background-color: transparent;
    background-image: none;
    border: none;
  }

  .p-list-menu-selected {
    background-color: blue;
  }

  .title-event-complex-container {
    margin-top: 3px;
    padding-left: 10px;
  }

  .text-header {
    margin-bottom: $p-margin-same-component;
  }

  .complex-event-content-view {
    margin-bottom: $p-margin-diff-component;
  }

  .item-pressed-session-menu-list {
    @extend .blue-button-pressing-background;
  }

  .p-container-imgpresenterlist{
  	margin-right: 10px;
  	img{
  		width: 84px;
  		height: 86px;
  	}
  }

  .p-list-presentersession .x-list-header{
    background: black;
    border: none;
    color: white;
    font-weight: normal;
    padding: 0 10px 5px;
  }

  .p-list-presentersession .x-scroll-container{
    margin-top: 38px;
    height: 93%;
  }

  .p-list-presentersession .x-indexbar-alphabet {
    width: 100%;
    height: 35px !important;
    margin: auto;
    border: 0px;
    padding: 5px 0px;
    background-color: Gray;
  }

  .p-list-presentersession .x-indexbar-alphabet div {
    float: left;
    margin: 0px 5px;
    font-size: 10.87pt;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
  }

  .p-list-presentersession .x-indexbar-pressed {
    border-radius: 0px;
  }

  .p-list-presentersession .x-indexbar-wrapper {
    -webkit-box-align: start !important;
  }

  .listSessionPresenterItems .x-innerhtml{
    padding: 0 !important;
  }

  .p-container-imgpresenterlist .x-innerhtml{
    padding: 0 !important;
  }

  .listSessionPresenterItems{
    border-bottom: none !important;
    height: 86px;
  }

  .p-container-presentername, .p-container-presenterjobtitle{
  	color: white;
  	font-size: 13px;
  }
  .p-panel-description-container {
    margin: 10px 10px 5px;
  }
}
