<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="phonegap-plugin-external-file-util"
    version="1.0.0">

    <name>ExternalFileUtil</name>
    <description>Phonegap plugin.</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/ExternalFileUtil.js" name="ExternalFileUtil">
          <clobbers target="window.plugins.ExternalFileUtil" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="ExternalFileUtil">
            <param name="android-package" value="net.dynagility.personify.plugin.ExternalFileUtil" />
            <param name="onload" value="true" />
          </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
          <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
        </config-file>

		    <source-file src="src/android/ExternalFileUtil.java" target-dir="src/net/dynagility/personify/plugin" />
    </platform>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
       <feature name="ExternalFileUtil">
         <param name="ios-package" value="CDVExternalFileUtil" />
         <param name="onload" value="true" />
       </feature>
      </config-file>

      <header-file src="src/ios/CDVExternalFileUtil.h" />
      <source-file src="src/ios/CDVExternalFileUtil.m" />
    </platform>
</plugin>
