@mixin menubar {
    .menuBtnTopMenuBaner{
        background: rgba(0, 0, 0, 0.3);
        color: #ffffff;
        margin: auto;
        width: 130px;
        font-size: 14px;
        border-radius: 0;
        border:none;
    }

    .navigationMenuBarPrevious{
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-image: url('../icons/btn-prev.png') !important;
        float: left;
        min-width: 70px;
        margin: 11px 10px;
        background: #4A4A4A;
        border: 0px;
    }
    .navigationMenuBarNext{
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-image: url('../icons/btn-next.png') !important;
        float: left;
        min-width: 70px;
        margin: 11px 10px;
        background: #4A4A4A;
        border: 0px;
    }
    .menuItem{
        float: left;
        padding-top:40px;
        min-width: 70px;
        margin: 0px 10px;
        color: white;
        background-position: center 5px !important;
        background-repeat: no-repeat !important;
        text-align: center;
        font-size: 16px;
    }
    .menuitempositon{
       background-size: 30px;
        margin-top: 3px;
    }

    .menubackbuton, .menunextbuton{
        width: 50px;
        border:none;
        border-radius: 0;
        background: white !important;
    }
    .menubackbuton .x-button-label ,.menunextbuton .x-button-label{
        font-size: 50px;
        color: black !important;
    }

    .clsover{
      position: absolute;
      bottom:0;
      z-index: 3;
    }
  .p-phone-menu-MainBtn {
    border-radius: 0;
    border: 0px;
    width: 40px;
    background-image: url(../icons/home.png) !important;
    background-position: center 7px !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-color: #303030;
    .x-button-label {
      color: white;
    }
  }
  .p-menu-info-button-phone {
    border-radius: 0;
    border: 0px;
    width: 20px;
    height: 20px;
    background-image: url(../icons/info.png) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-color: transparent;
    margin-left: 10px;
  }
}
