<?xml version='1.0' encoding='utf-8'?>
<widget id="net.dynagility.personify" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <!-- General Project -->
    <name>PersonifyConnect</name>
    <description>
		The Personify Connect application allows customers and staff to interact
		with the Personify360 association management software (AMS) system maintained
		by Personify for the express purpose of managing customer, staff, event and 
		activity information. Its use is reserved exclusively for the customers and staff of Personify.
	</description>
    <author email="info@personifycorp.com" href="https://personifycorp.com" />
    <access origin="https://127.0.0.1*" />
    <access origin="https://app47.com" subdomains="true" />
    <access origin="http://app47.mobi/" subdomains="true" />
    <access origin="https://app47.mobi/" subdomains="true" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <content src="index.html" />
    <engine name="android" spec="~5.1.1" />
    
    <!-- Preferences -->
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="android-minSdkVersion" value="8" />
    <preference name="android-maxSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="22" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="android-installLocation" value="auto" />
    <!-- Urban Airship app credentials -->
	<preference name="com.urbanairship.production_app_key" value="PRODUCTION_APP_KEY" />
	<preference name="com.urbanairship.production_app_secret" value="PRODUCTION_APP_SECRET" />
	<preference name="com.urbanairship.development_app_key" value="DEVELOPMENT_APP_KEY" />
	<preference name="com.urbanairship.development_app_secret" value="DEVELOPMENT_APP_SECRET" />
	<preference name="com.urbanairship.in_production" value="true" />
	<preference name="com.urbanairship.enable_push_onlaunch" value="true" />
	<preference name="com.urbanairship.gcm_sender" value="321646902800" />
    
    <!-- Plugins -->
    <plugin name="cordova-plugin-whitelist" version="1" />    
    <plugin name="org.apache.cordova.battery-status" />
    <plugin name="org.apache.cordova.camera" />
    <plugin name="org.apache.cordova.media-capture" />
    <plugin name="org.apache.cordova.console" />
    <plugin name="org.apache.cordova.contacts" />
    <plugin name="org.apache.cordova.device" />
    <plugin name="org.apache.cordova.device-motion" />
    <plugin name="org.apache.cordova.device-orientation" />
    <plugin name="org.apache.cordova.dialogs" />
    <plugin name="org.apache.cordova.file" />
    <plugin name="org.apache.cordova.file-transfer" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.globalization" />
    <plugin name="org.apache.cordova.inappbrowser" />
    <plugin name="org.apache.cordova.media" />
    <plugin name="org.apache.cordova.network-information" />
    <plugin name="org.apache.cordova.splashscreen" />
    <plugin name="org.apache.cordova.vibration" />
    
    <!-- Graphics -->
    <icon platform="android" qualifier="ldpi" src="resources/android/icons/icon-ldpi.png" />
    <icon platform="android" qualifier="mdpi" src="resources/android/icons/icon-mdpi.png" />
    <icon platform="android" qualifier="hdpi" src="resources/android/icons/icon-hdpi.png" />
    <icon platform="android" qualifier="xhdpi" src="resources/android/icons/icon-xhdpi.png" />
    <icon height="57" platform="ios" src="resources/ios/icons/icon.png" width="57" />
    <icon height="72" platform="ios" src="resources/ios/icons/icon-72.png" width="72" />
    <icon height="114" platform="ios" src="resources/ios/icons/icon@2x.png" width="114" />
    <icon height="144" platform="ios" src="resources/ios/icons/icon-72@2x.png" width="144" />
    <splash platform="android" qualifier="port-ldpi" src="resources/android/splash/splash-ldpi.png" />
    <splash platform="android" qualifier="port-mdpi" src="resources/android/splash/splash-mdpi.png" />
    <splash platform="android" qualifier="port-hdpi" src="resources/android/splash/splash-hdpi.png" />
    <splash platform="android" qualifier="port-xhdpi" src="resources/android/splash/splash-xhdpi.png" />
    <splash platform="android" qualifier="land-ldpi" src="resources/android/splash/splash-land-ldpi.png" />
    <splash platform="android" qualifier="land-mdpi" src="resources/android/splash/splash-land-mdpi.png" />
    <splash platform="android" qualifier="land-hdpi" src="resources/android/splash/splash-land-hdpi.png" />
    <splash platform="android" qualifier="land-xhdpi" src="resources/android/splash/splash-land-xhdpi.png" />
    <splash height="480" platform="ios" src="resources/ios/splash/default~iphone.png" width="320" />
    <splash height="960" platform="ios" src="resources/ios/splash/default@2x~iphone.png" width="640" />
    <splash height="1136" platform="ios" src="resources/ios/splash/default-568h@2x" width="640" />
    <splash height="1024" platform="ios" src="resources/ios/splash/default-portrait~ipad.png" width="768" />
    <splash height="2008" platform="ios" src="resources/ios/splash/default-portrait@2x~ipad.png" width="1536" />
    <splash height="768" platform="ios" src="resources/ios/splash/default-landscape~ipad.png" width="1024" />
    <splash height="1496" platform="ios" src="resources/ios/splash/default-landscape@2x~ipad.png" width="2046" />

</widget>
